<!--  {{ friendModel | json }}-->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Contacts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/friend-list" routerLinkActive="active">
            All Friends
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-friend" routerLinkActive="active">
            Add A Friend
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search-friend" routerLinkActive="active">
            Search
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>



